<style type="text/css">
	body{
    color: black;
  }
</style>
<div class="container-fluid" style="background-color: white;" >
	<div class="row barlist">
		<div class="col-md-2" style="padding: 0 0;">

			<h1 class="roout" style="margin-left: 10px;">ROUTES</h1>
			<ul class="nav">
		      <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Visualize</a></li> 
		      <li><a href="#"><i class="fa fa-street-view" aria-hidden="true"></i>&nbsp;Places</a></li>
		      <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-road" aria-hidden="true"></i>&nbsp;Routes</a></li>
		      <li><%= link_to " Export Data", "#{route_file_path}.csv" , class: "fa fa-file-excel-o" %></li>
          <li><%= link_to " Histroy", route_path, class: "fa fa-book" %></li>
			  <li><%= link_to "  Signout", destroy_user_session_path, class: "fa fa-sign-out" , :method => "DELETE" %></li>
		    </ul>
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Route</h4>
      </div>
      <div class="modal-body">
        			<%= form_tag(route_path, method: "post" , multipart: true ) do %>
						<div class="form-group">
						    <%= label_tag(:route_name, "Route Name:") %>
				  			<%= text_field_tag :route_name , nil , class: "form-control"%>
						</div>

						<!-- <div class="form-group">
						    <%= label_tag(:estimated_time, "Estimated Time:") %>
						    <%= text_field_tag(:estimated_time,  nil , class: "form-control") %>
						</div> -->

						<div class="form-group">
						    <%= label_tag(:starting_point, "Starting Point:") %>
				  			<%= text_field_tag :starting_point , nil , class: "form-control"%>
						</div>

						<div class="form-group">
						    <%= label_tag(:file_upload, "Upload File:") %>
				  			<%= file_field_tag :file_upload , class: "form-control" %>
						</div>
					  
					  </div>
      <div class="modal-footer">
      	<%= submit_tag "Submit" , class: "btn btn-default" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
					  
					<% end %>
      
    </div>

  </div>
</div>


		</div>
		<div class="col-md-10" style="padding: 0 0; height: 100vh; background-color: #f5f5f5; overflow: overlay;">
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th colspan="1"></th>
			      <th>Route Name</th>
			      <th>Estimated Time</th>
			      <th>Starting Point</th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>

			  <tbody>
			  	<% count=0 %>
			    <% @rout.each do |rout| %>
			      <% count = count + 1 %>
			      <tr>
			        <td><%= count %></td>
			        <td><%= rout.route_name %></td>
			        <td><%= rout.estimated_time %></td>
			        <td><%= rout.starting_point %></td>
			        <td><%= link_to 'Show', route_show_path(rout) %></td>
			        <td><%= link_to 'Edit', edit_route_path(rout) %></td>
			        <td><%= link_to 'Destroy', route_destroy_path(rout), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	var input = document.getElementById("starting_point");
    var autocomplete = new google.maps.places.Autocomplete(input);
    //autocomplete.bindTo(bounds, map);

    google.maps.event.addListener(autocomplete, "Starting point", function()
    {
        console.log("autocomplete");
    });
</script>